<launch>


  <!-- run turtlesim node-->
  <node 
  pkg="turtlesim" 
  type="turtlesim_node" 
  name="turtle1"  
  output="screen">
  </node>
 
  <!-- run the turtelsim_grid_cleanernode  -->
  <node 
  pkg="assignment_01" 
  type="turtlesim_grid_cleaner.py" 
  name="turtlesim_grid_clean_demo"  
  output="screen">
  </node>
  
</launch>